*
{
	margin: 0;
	padding: 0;
}

body
{
	background-color: white;
	text-align: center;
}

p.time
{
	text-align: center;
	font-size: 15px;
	color: white;
	background-color: gray;
	margin-top: 15px;
}

p.footer
{
	text-align: right;
	font-size: 15px;
	color: gray;
}

div.snapdiv
{
	text-align: center;
}

img.snap
{
}

div.main
{
	width: 800px;
	margin: 0 auto;
}